@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://cdn.pixabay.com/photo/2022/12/02/03/30/sky-7630185_960_720.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bigBox {
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.box1, .box2 {
    height: 700px;
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#weather {
    height: 50px;
    width: 450px;
    text-align: right;
    font-size: large;
    font-weight: 800;
    padding-top: 20px;
    padding-right: 10px;
    border-radius: 20px;
    color: #1E2B37;
}
#clock {
    height: 100px;
    width: 450px;
    text-align: center;
    font-size: 26pt;
    padding-top: 20px;
    border-radius: 20px;
    background-color: rgba(249, 205, 230, 0.5);
    color: #1E2B37;
}
.miniBox1 {
    border: 4px solid rgb(160, 129, 206);
    border-radius: 20px;
    height: 600px;
    width: 450px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(160, 129, 206, 0.5);
    color: #1E2B37;
}
.miniBox2 {
    border: 4px solid rgb(244, 168, 190);
    border-radius: 20px;
    height: 200px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 168, 190, 0.5);
    color: #1E2B37;
    padding-top: 40px;
    text-shadow: -2px 0 rgb(244, 168, 190), 0 2px rgb(244, 168, 190), 2px 0 rgb(244, 168, 190), 0 -2px rgb(244, 168, 190);
}
.icon {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
#input1 {
    border-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 25px;
}
button {
    border-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 60px;
    height: 30px;
    background-color: rgb(244, 168, 190);
    color: white;
    font-weight: 550;
    cursor: pointer;  
}
button:active {
    color: rgb(0, 0, 0, 0.5);
}
.miniBox3 {
    height: 600px;
    width: 450px;
    border-radius: 20px;
    border: 4px solid rgb(244, 168, 190);
    background-color: rgba(249, 205, 230, 0.5);
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow: auto;
    color: #1E2B37;
    font-weight: 600;
    font-size: 14pt;
}
.miniBox3::-webkit-scrollbar {
    height: 15px;
    width: 15px;
}
.miniBox3::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.miniBox3::-webkit-scrollbar-track {
    background-color: rgba(160, 129, 206, 0.2);
    border-radius: 20px;
    box-shadow: inset 0px 0px 5px white;
}
.miniBox3 button {
    width: 30px;
}
#input2 {
    width: 380px;
    height: 30px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0, 0.5);
}
li {
    margin: 5px 0px;
}
#quote {
    position: absolute;
    bottom: 15px;
    font-size: 16pt;
    font-weight: 600;
    margin-left: 20px;
    color: #1E2B37;
}
.hidden{
    display: none;
}