.hidden{
    display: none;
}

#weather{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:medium;
    margin-top: 5%;
    margin-bottom: 1%;
}

#clock{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:darkgray;
    margin: 0;
}

#login-form{
    margin: 5%;
}

#todo-form{
    margin: 5%;
}